// nav-mobile-menu.scss

@import 'reset';
@import 'common';
html,body
{
	font-family: 'Open Sans', sans-serif;
}

.container
{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}